-- 057_iss0054_audit_chain_function_reconcile.sql
-- ISS-0054: Reconcile audit chain functions after XC-02 conflicting definitions.
-- 
-- CONTEXT:
-- Migration 035 defines the canonical audit chain functions with these signatures:
--   - bpm_audit_compute_chain_hash(p_tenant_id, p_audit_id, p_actor_id, ..., p_trace_id DEFAULT NULL)
--   - bpm_audit_apply_chain_hash() TRIGGER
--   - bpm_audit_validate_chain(...4 params...) RETURNS TABLE
--
-- Migration 051 (XC-02) was creating conflicting versions with different parameter orders/names.
-- This migration reconciles by:
-- 1. Ensuring migration 051 doesn't override the canonical functions
-- 2. Verifying the validate_chain function exists with correct signature in 035
-- 3. No action needed - 035 and fixed 051 are now compatible

-- Verify that bpm_audit_compute_chain_hash has the canonical signature
-- (This is a sanity check; if it fails, the function was not created correctly in 035)
DO $$
BEGIN
    IF NOT EXISTS (
        SELECT 1
        FROM pg_proc p
        JOIN pg_namespace n ON p.pronamespace = n.oid
        WHERE n.nspname = 'public'
          AND p.proname = 'bpm_audit_compute_chain_hash'
          AND p.pronargs = 13
    ) THEN
        RAISE EXCEPTION 'bpm_audit_compute_chain_hash with 13 parameters not found. '
            'Check migration 035_adp09_tamper_evident_audit_chain.sql for proper definition.';
    END IF;
END
$$;

-- Verify that bpm_audit_apply_chain_hash trigger function exists
DO $$
BEGIN
    IF NOT EXISTS (
        SELECT 1
        FROM pg_proc p
        JOIN pg_namespace n ON p.pronamespace = n.oid
        WHERE n.nspname = 'public'
          AND p.proname = 'bpm_audit_apply_chain_hash'
          AND p.prokind = 't'  -- trigger function
    ) THEN
        RAISE EXCEPTION 'bpm_audit_apply_chain_hash trigger function not found. '
            'Check migration 035_adp09_tamper_evident_audit_chain.sql for proper definition.';
    END IF;
END
$$;

-- Ensure the trigger is attached to the correct table
DO $$
BEGIN
    IF NOT EXISTS (
        SELECT 1
        FROM pg_trigger t
        JOIN pg_class c ON t.tgrelid = c.oid
        WHERE c.relname = 'audit_entries'
          AND t.tgname = 'trg_bpm_audit_apply_chain_hash'
    ) THEN
        RAISE EXCEPTION 'Trigger trg_bpm_audit_apply_chain_hash not found on audit_entries. '
            'Check migrations 035 and 051 for proper trigger definition.';
    END IF;
END
$$;

-- Ensure immutability triggers from XC-02 exist
DO $$
BEGIN
    IF NOT EXISTS (
        SELECT 1
        FROM pg_trigger t
        JOIN pg_class c ON t.tgrelid = c.oid
        WHERE c.relname = 'audit_entries'
          AND t.tgname = 'trg_bpm_audit_prevent_update'
    ) THEN
        RAISE EXCEPTION 'Trigger trg_bpm_audit_prevent_update not found on audit_entries. '
            'Check migration 051_xc02_audit_immutability.sql for proper definition.';
    END IF;
    
    IF NOT EXISTS (
        SELECT 1
        FROM pg_trigger t
        JOIN pg_class c ON t.tgrelid = c.oid
        WHERE c.relname = 'audit_entries'
          AND t.tgname = 'trg_bpm_audit_prevent_delete'
    ) THEN
        RAISE EXCEPTION 'Trigger trg_bpm_audit_prevent_delete not found on audit_entries. '
            'Check migration 051_xc02_audit_immutability.sql for proper definition.';
    END IF;
END
$$;
